@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-slideshow-image/dist/styles.css";

@import "react-photo-view/dist/react-photo-view.css";



body {
  font-family: "Raleway"!important;
}

.ks-hero-section {
  background-image: url("../assets/images/image.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
